Makefile
Makefile.in
aclocal.m4
autom4te.cache
autotools
config.h
config.hin
config.log
config.status
configure
pkg/config.make
src/resource.rc
src/sopwith
src/sopwith.exe
.deps
*.a
*.o
*~
*.orig
*.rej
stamp-h1
tags
TAGS
emscripten_cache
