body,h1,h2,h3,h4,h5,h6,code,strong,pre {
  background-color: black;
  color: white;
}

header {
  margin-bottom: 10px;
}

img[alt~=Camel] {
  float: right;
  margin: 20px;
}

a {
  font-weight:bold;
  color: #0ff;
}

a:visited {
  color: #f0f;
}

