body,h1,h2,h3,h4,h5,h6,code,strong,pre,.highlight {
  background-color: black;
  color: white;
}

code > span {
  background-color: black;
  color: white;
}

code > .nt { color: inherit; }
code > .s2 { color: inherit; }

header {
  margin-bottom: 10px;
  padding-right: 0;
}

/* The "minimal" stylesheet sets width: 100% but this doesn't do
   anything for us. */
table {
  width: auto;
}

img[alt~=Illustration] {
  float: right;
  margin: 20px;
  max-width: 50%;
}

img[src*=medals] {
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
}

img[src*=Tux-and-beastie] {
  float: right;
  width: 64px;
  margin: 20px;
}

img[src*="logos"] {
  width: 64px;
}

a {
  font-weight:bold;
  color: #0ff;
}

a:visited {
  color: #f0f;
}

