<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="sopwith.css">
    <title>{{ page.title | default: site.title }}</title>
    <meta property="og:title" content="{{ page.title | default: site.title }}" />
    <meta property="og:description" content="{{ page.description | default: site.description }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ permalink }}" />
    <meta property="og:image" content="{{ page.image | default: site.image }}" />
    <meta name="twitter:card" content="summary_large_image">
  </head>
  <body>
    <div class="wrapper">
      <header>

        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        [
        <a href="https://github.com/fragglet/sdl-sopwith">Github Page</a> |
        <a href="getit.html">Get it!</a> |
        <a href="sshot.html">Screenshots</a> |
        <a href="FAQ.html">FAQ</a> |
        <a href="news.html">News</a> |
        <a href="links.html">Links</a>
        ]

      </header>

      <section>

      {{ content }}

      </section>

      <footer>
      </footer>
    </div>
  </body>
</html>
